<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.helper.demo.service.module.book_manage.dao.IBookDAO">
  <resultMap id="BaseResultMap" type="org.helper.demo.service.module.book_manage.dataobject.BookDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bar_code" jdbcType="BIGINT" property="barCode" />
    <result column="level_num" jdbcType="VARCHAR" property="levelNum" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="origin_title" jdbcType="VARCHAR" property="originTitle" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="binding" jdbcType="VARCHAR" property="binding" />
    <result column="pages" jdbcType="INTEGER" property="pages" />
    <result column="images_medium" jdbcType="VARCHAR" property="imagesMedium" />
    <result column="images_large" jdbcType="VARCHAR" property="imagesLarge" />
    <result column="pubdate" jdbcType="TIMESTAMP" property="pubdate" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="isbn10" jdbcType="BIGINT" property="isbn10" />
    <result column="isbn13" jdbcType="BIGINT" property="isbn13" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="edition" jdbcType="TINYINT" property="edition" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bar_code, level_num, title, origin_title, subtitle, author, binding, pages, images_medium, 
    images_large, pubdate, publisher, isbn10, isbn13, summary, price, edition, owner_id, 
    status, create_time, last_modify_time
  </sql>
  <select id="selectByExample" parameterType="org.helper.demo.service.module.book_manage.dataobject.BookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="from != null and from >= 0 and size != null and size >= 1">
      limit ${from}, ${size}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from book
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.helper.demo.service.module.book_manage.dataobject.BookExample">
    delete from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.helper.demo.service.module.book_manage.dataobject.BookDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into book (bar_code, level_num, title, 
      origin_title, subtitle, author, 
      binding, pages, images_medium, 
      images_large, pubdate, publisher, 
      isbn10, isbn13, summary, 
      price, edition, owner_id, 
      status, create_time, last_modify_time
      )
    values (#{barCode,jdbcType=BIGINT}, #{levelNum,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{originTitle,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{binding,jdbcType=VARCHAR}, #{pages,jdbcType=INTEGER}, #{imagesMedium,jdbcType=VARCHAR}, 
      #{imagesLarge,jdbcType=VARCHAR}, #{pubdate,jdbcType=TIMESTAMP}, #{publisher,jdbcType=VARCHAR}, 
      #{isbn10,jdbcType=BIGINT}, #{isbn13,jdbcType=BIGINT}, #{summary,jdbcType=VARCHAR}, 
      #{price,jdbcType=INTEGER}, #{edition,jdbcType=TINYINT}, #{ownerId,jdbcType=BIGINT}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.helper.demo.service.module.book_manage.dataobject.BookDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="barCode != null">
        bar_code,
      </if>
      <if test="levelNum != null">
        level_num,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="originTitle != null">
        origin_title,
      </if>
      <if test="subtitle != null">
        subtitle,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="binding != null">
        binding,
      </if>
      <if test="pages != null">
        pages,
      </if>
      <if test="imagesMedium != null">
        images_medium,
      </if>
      <if test="imagesLarge != null">
        images_large,
      </if>
      <if test="pubdate != null">
        pubdate,
      </if>
      <if test="publisher != null">
        publisher,
      </if>
      <if test="isbn10 != null">
        isbn10,
      </if>
      <if test="isbn13 != null">
        isbn13,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="edition != null">
        edition,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="barCode != null">
        #{barCode,jdbcType=BIGINT},
      </if>
      <if test="levelNum != null">
        #{levelNum,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="originTitle != null">
        #{originTitle,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="binding != null">
        #{binding,jdbcType=VARCHAR},
      </if>
      <if test="pages != null">
        #{pages,jdbcType=INTEGER},
      </if>
      <if test="imagesMedium != null">
        #{imagesMedium,jdbcType=VARCHAR},
      </if>
      <if test="imagesLarge != null">
        #{imagesLarge,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="publisher != null">
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="isbn10 != null">
        #{isbn10,jdbcType=BIGINT},
      </if>
      <if test="isbn13 != null">
        #{isbn13,jdbcType=BIGINT},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="edition != null">
        #{edition,jdbcType=TINYINT},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.helper.demo.service.module.book_manage.dataobject.BookExample" resultType="java.lang.Long">
    select count(*) from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update book
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.barCode != null">
        bar_code = #{record.barCode,jdbcType=BIGINT},
      </if>
      <if test="record.levelNum != null">
        level_num = #{record.levelNum,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.originTitle != null">
        origin_title = #{record.originTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.subtitle != null">
        subtitle = #{record.subtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null">
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.binding != null">
        binding = #{record.binding,jdbcType=VARCHAR},
      </if>
      <if test="record.pages != null">
        pages = #{record.pages,jdbcType=INTEGER},
      </if>
      <if test="record.imagesMedium != null">
        images_medium = #{record.imagesMedium,jdbcType=VARCHAR},
      </if>
      <if test="record.imagesLarge != null">
        images_large = #{record.imagesLarge,jdbcType=VARCHAR},
      </if>
      <if test="record.pubdate != null">
        pubdate = #{record.pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.publisher != null">
        publisher = #{record.publisher,jdbcType=VARCHAR},
      </if>
      <if test="record.isbn10 != null">
        isbn10 = #{record.isbn10,jdbcType=BIGINT},
      </if>
      <if test="record.isbn13 != null">
        isbn13 = #{record.isbn13,jdbcType=BIGINT},
      </if>
      <if test="record.summary != null">
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.edition != null">
        edition = #{record.edition,jdbcType=TINYINT},
      </if>
      <if test="record.ownerId != null">
        owner_id = #{record.ownerId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifyTime != null">
        last_modify_time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update book
    set id = #{record.id,jdbcType=BIGINT},
      bar_code = #{record.barCode,jdbcType=BIGINT},
      level_num = #{record.levelNum,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      origin_title = #{record.originTitle,jdbcType=VARCHAR},
      subtitle = #{record.subtitle,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      binding = #{record.binding,jdbcType=VARCHAR},
      pages = #{record.pages,jdbcType=INTEGER},
      images_medium = #{record.imagesMedium,jdbcType=VARCHAR},
      images_large = #{record.imagesLarge,jdbcType=VARCHAR},
      pubdate = #{record.pubdate,jdbcType=TIMESTAMP},
      publisher = #{record.publisher,jdbcType=VARCHAR},
      isbn10 = #{record.isbn10,jdbcType=BIGINT},
      isbn13 = #{record.isbn13,jdbcType=BIGINT},
      summary = #{record.summary,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER},
      edition = #{record.edition,jdbcType=TINYINT},
      owner_id = #{record.ownerId,jdbcType=BIGINT},
      status = #{record.status,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{record.lastModifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.helper.demo.service.module.book_manage.dataobject.BookDO">
    update book
    <set>
      <if test="barCode != null">
        bar_code = #{barCode,jdbcType=BIGINT},
      </if>
      <if test="levelNum != null">
        level_num = #{levelNum,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="originTitle != null">
        origin_title = #{originTitle,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="binding != null">
        binding = #{binding,jdbcType=VARCHAR},
      </if>
      <if test="pages != null">
        pages = #{pages,jdbcType=INTEGER},
      </if>
      <if test="imagesMedium != null">
        images_medium = #{imagesMedium,jdbcType=VARCHAR},
      </if>
      <if test="imagesLarge != null">
        images_large = #{imagesLarge,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        pubdate = #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="publisher != null">
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="isbn10 != null">
        isbn10 = #{isbn10,jdbcType=BIGINT},
      </if>
      <if test="isbn13 != null">
        isbn13 = #{isbn13,jdbcType=BIGINT},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="edition != null">
        edition = #{edition,jdbcType=TINYINT},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.helper.demo.service.module.book_manage.dataobject.BookDO">
    update book
    set bar_code = #{barCode,jdbcType=BIGINT},
      level_num = #{levelNum,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      origin_title = #{originTitle,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      binding = #{binding,jdbcType=VARCHAR},
      pages = #{pages,jdbcType=INTEGER},
      images_medium = #{imagesMedium,jdbcType=VARCHAR},
      images_large = #{imagesLarge,jdbcType=VARCHAR},
      pubdate = #{pubdate,jdbcType=TIMESTAMP},
      publisher = #{publisher,jdbcType=VARCHAR},
      isbn10 = #{isbn10,jdbcType=BIGINT},
      isbn13 = #{isbn13,jdbcType=BIGINT},
      summary = #{summary,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      edition = #{edition,jdbcType=TINYINT},
      owner_id = #{ownerId,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>